@model GestionAulasFacultad.Models.ModeloPersonaGUI

@{
    ViewBag.Title = "Delete";
}

<div id="myModal" class="modal fade" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Modal Heading</h4>
                <button type="button" class="close" data-dismiss="modal"
                        aria-hidden="true">
                    ×
                </button>
            </div>
            <div class="modal-body">
                <h3>¿Estás seguro de que quieres eliminar el registro?</h3>
                <h2>Eliminación de persona</h2>

                <h3>¿Estás seguro de que quieres eliminar el siguiente registro?</h3>
                <div>

                    <hr />
                    <dl class="dl-horizontal">

                        <dt>
                            @Html.DisplayNameFor(model => model.PrimerNombre)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.PrimerNombre)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.OtrosNombres)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.OtrosNombres)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.PrimerApellido)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.PrimerApellido)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.SegundoApellido)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.SegundoApellido)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.DocumentoIdentidad)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.DocumentoIdentidad)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Celular)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Celular)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Email)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Email)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Foto)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Foto)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Huella)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Huella)
                        </dd>

                    </dl>


                </div>
                <div class="modal-footer">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                    <div class="form-actions no-color">
                        <input type="submit" value="Eliminar" class="btn btn-warning" />
                        @Html.ActionLink("Cancelar", "Index", new { }, new { @class = "btn btn-secondary" })
                    </div>


                    }
                </div>
            </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


   
</div>
