@model IEnumerable<GestionAulasFacultad.Models.ModeloPersonaGUI>
<link href="~/Scripts/assets/icons/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
<link href="~/Scripts/assets/icons/themify-icons/themify-icons.css" rel="stylesheet" />
@{
    ViewBag.Title = "Index";
}

<h2 class="d-flex justify-content-center">Lista de personas</h2>

<br />

<div class="row d-flex justify-content-center">
    <div class="col-lg-12">
        <table class="table table-responsive table-bordered">
            <thead class="table-dark">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.PrimerNombre)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.OtrosNombres)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PrimerApellido)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.SegundoApellido)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DocumentoIdentidad)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Celular)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Email)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Foto)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Huella)
                    </th>
                    <th>
                        Opcion
                    </th>

                </tr>
            </thead>

            @foreach (var item in Model)
            {
                <tbody>
                    <tr>

                        <td>
                            @Html.DisplayFor(modelItem => item.PrimerNombre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.OtrosNombres)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PrimerApellido)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SegundoApellido)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DocumentoIdentidad)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Celular)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Foto)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Huella)
                        </td>
                        <td>
                            <div class="row">
                                <div class="col-6">

                                    @Html.ActionLink(" ", "Edit", new { id = item.Id }, new { @class = "btn btn-primary fa fa-pencil" })

                                </div>

                                <div class="col-6">

                                    @Html.ActionLink(" ", "Delete", new { id = item.Id }, new { @class = "btn btn-danger fa fa-trash" })

                                </div>
                            </div>
                        </td>

                    </tr>


                </tbody>
                
            }

        </table>
        @Html.Partial("_FooterPagedList")
        @Html.ActionLink("Crear persona", "Create", new { }, new { @class = "btn btn-success btn-lg d-flex justify-content-center" })
    </div>
</div>
<script>
    $("#btnDelete").click(function () {
        var _id = $("#personaId").val();

        $.ajax({
            type: "POST"
            url: "/Persona/Delete",
            data: { id: _id },
            success: function (respuesta) {
                $("#deleteModal").modal('hide');
                $("#personaId").val(null);
            } else {

            });
    });
</script>


