@model IEnumerable<GestionAulasFacultad.Models.ModeloInventarioGUI>

@{
    ViewBag.Title = "Index";
}

<h2 class="d-flex justify-content-center">Lista de elementos del inventario</h2>

<br />

<div class="row d-flex justify-content-center">
    <div class="col-4.5">

        <table class="table table-responsive table-bordered">
            <thead class="table-dark">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.CodigoIdentificacion)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Estado)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.NombreTipoElemento)
                    </th>
                    <th>Opcion</th>
                </tr>
            </thead>
            @foreach (var item in Model)
            {
                <tbody>
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.CodigoIdentificacion)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Estado)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NombreTipoElemento)
                        </td>
                        <td>
                            <div class="row">
                                <div class="col-6">

                                    @Html.ActionLink(" ", "Edit", new { id = item.Id }, new { @class = "btn btn-primary fa fa-pencil" })

                                </div>

                                <div class="col-6">

                                    @Html.ActionLink(" ", "Delete", new { id = item.Id }, new { @class = "btn btn-danger fa fa-trash" })

                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            }

        </table>
        @Html.Partial("_FooterPagedList")

        @Html.ActionLink("Crear elemento de inventario", "Create", new { }, new { @class = "btn btn-success btn-lg d-flex justify-content-center" })
    </div>
</div>

