@model IEnumerable<GestionAulasFacultad.Models.ModeloAulaGUI>

@{
    ViewBag.Title = "Index";
}

<h2 class="d-flex justify-content-center">Lista de Aulas</h2>

<br />


<div class="row d-flex justify-content-center">
    <div class="col-8.5">

        <table class="table table-responsive table-bordered">
            <thead class="table-dark">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Nombre)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TipoAula)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Capacidad)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CantidadComputadores)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Multimedia)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Disponibilidad)
                    </th>
                    <th>Opcion</th>
                </tr>
                </thead>

                @foreach (var item in Model)
                {
                <tbody>
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nombre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TipoAula)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Capacidad)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CantidadComputadores)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Multimedia)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Disponibilidad)
                        </td>
                        <td>
                            <div class="row">
                                <div class="col-4">

                                    @Html.ActionLink(" ", "Edit", new { id = item.Id }, new { @class = "btn btn-primary fa fa-pencil" })

                                </div>
                                <div class="col-4">

                                    @Html.ActionLink(" ", "Details", new { id = item.Id }, new { @class = "btn-lg btn-warning fa fa-info" })

                                </div>
                                <div class="col-4">

                                    @Html.ActionLink(" ", "Delete", new { id = item.Id }, new { @class = "btn btn-danger fa fa-trash" })

                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            }

            </table>
            @Html.Partial("_FooterPagedList")

            @Html.ActionLink("Crear aula", "Create", new { }, new { @class = "btn btn-success btn-lg d-flex justify-content-center" })
        </div>
    </div>
