@model IEnumerable<GestionAulasFacultad.Models.ModeloClaseGUI>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NombreMateria)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CantidadHoras)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaHoraInicio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NombreAula)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NombreProfesor)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IdMateria)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CantidadHoras)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaHoraInicio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NombreAula)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NombreProfesor)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
<div>
    @Html.ActionLink("Crear clase", "Create", new { }, new { @class = "btn btn-primary" })
</div>
