@model GestionAulasFacultad.Models.ModeloReservaGUI

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>tb_reserva</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CantidadHoras)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CantidadHoras)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaHoraInicio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaHoraInicio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NombreAula)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreAula)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NombreMonitor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreMonitor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NombreProfesor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreProfesor)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
