@model IEnumerable<GestionAulasFacultad.Models.ModeloReservaGUI>

@{
    ViewBag.Title = "Index";
}

<h2 class="d-flex justify-content-center">Lista de reservas</h2>

<br />

<div class="row d-flex justify-content-center">
    <div class="col-9.7">

        <table class="table table-responsive table-bordered">
            <thead class="table-dark">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.CantidadHoras)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FechaHoraInicio)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Estado)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.NombreAula)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.NombreMonitor)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.NombreProfesor)
                    </th>
                    <th>Opcion</th>
                </tr>
            </thead>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.CantidadHoras)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FechaHoraInicio)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Estado)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NombreAula)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NombreMonitor)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NombreProfesor)
                    </td>
                    <td>


                        <div class="row">
                            <div class="col-6">

                                @Html.ActionLink(" ", "Edit", new { id = item.Id }, new { @class = "btn btn-primary fa fa-pencil" })

                            </div>

                            <div class="col-6">

                                @Html.ActionLink(" ", "Delete", new { id = item.Id }, new { @class = "btn btn-danger fa fa-trash" })

                            </div>
                        </div>
                    </td>
                </tr>
            }

        </table>
        @Html.Partial("_FooterPagedList")

        @Html.ActionLink("Crear reserva", "Create", new { }, new { @class = "btn btn-success btn-lg d-flex justify-content-center" })
    </div>
</div>


